<h2 id="title">ember-computed-filter</h2>

name: {{input value=name}} <br />
<pre>name: [{{name}}]</pre>
<pre>lastUpdated: [{{lastUpdated}}]</pre>
<pre>count: [{{count}}]</pre>

<hr>

<pre>trimmedName: [{{trimmedName}}]</pre>
<pre>lastTrimmedUpdated: [{{lastTrimmedUpdated}}]</pre>
<pre>trimmedCount: [{{trimmedCount}}]</pre>

{{outlet}}
